body{
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    background: linear-gradient(to right, teal, yellow);
}
h1{
    letter-spacing: 0.5em;
    font-weight: 500;
    font-size: 3.3em;
    margin-top: 80px;
}
.random-btn{
    margin-top: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid transparent;
    cursor: pointer;
    padding: 4px;
    transition:  0.5s;
    box-shadow: 0px 0px 8px 0;
}
.random-btn:hover{
    color: white;
    background-color: transparent;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}
.light,
.dark{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid transparent;
    padding: 5px;
    font-size: 15px;
    font-weight: 400;
    background-color: white;
    box-shadow: 0px 0px 8px 0;
}
.light{
    margin-left: 150px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.dark{
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.light:hover,
.dark:hover{
    color: white;
    background-color: transparent;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    cursor: pointer;
}